* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    line-height: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: content-box
}
.container {
    padding: 25px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-links {
    width: 40%;
}
.nav-links a {
    text-decoration: none;
    color: #888;
}
.nav-links a.active {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.bold {
    font-weight: bold;
    color: #222;
}
.login-btn {
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    color: #888;
}
.main {
    flex-grow: 1;
}
.main-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    margin: 0;
    line-height: 0;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title p {
    font-size: 3.5rem;
    margin-bottom: 45px;
    margin-top: 0;
    line-height: 2rem;
}
p.violet {
    padding-bottom: 0;
    color: rgb(240, 4, 134);
}
.blue {
    color:  rgb(76, 63, 175);
}
.description {
    line-height: 1.4rem;
    color: #aaa;
    font-size: 0.8rem;
    margin-top: 20px;
    width: 70%;
    text-align: justify;
}
.actions {
    margin-top: 20px;
}
.call-btn {
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background: rgb(2,0,85);
    background: linear-gradient(90deg, rgba(2,0,85,1) 0%, rgba(76,63,175,1) 35%, rgba(240,4,134,1) 100%);
}
.actions a {
    color: #222;
    font-weight: bold;
    margin-left: 10px;
}
.aside {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}
.aside div {
    width: 50%;
}
.gradient-bg {
    border-radius: 15px;
    background: rgb(2,0,85);
    background: linear-gradient(40deg, rgba(2,0,85,1) 0%, rgba(76,63,175,1) 35%, rgba(240,4,134,1) 100%);
}